<h2 class="text-center text-success">Gestion des Departments</h2>
<table class="table table-stripped">
  <thead>
    <tr>
      <th scope="col">Department ID</th>
      <th scope="col">Department Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of departmentData">
      <td>{{row.id}}</td>
      <td>{{row.departmentName}}</td>
    </tr>
  </tbody>
</table>

<br><br>

<h2 style="display: flex; justify-content: center; color: blueviolet;">ajout-department</h2>
<form [formGroup]="form">
  <div class="form-group">
    <label for="departmentName">Department Name:</label>
    <input type="text" class="form-control" formControlName="departmentName">
  </div>
  <button class="btn btn-primary" (click)="postDepartmentDetails()">Add Department</button>
</form>
